<div id="<%= dom_id coordinator %>">
  <p>
    <strong>Name:</strong>
    <%= coordinator.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= coordinator.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= coordinator.email %>
  </p>

</div>
