<h1>Editing coordinator</h1>

<%= render "form", coordinator: @coordinator %>

<br>

<div>
  <%= link_to "Show this coordinator", @coordinator %> |
  <%= link_to "Back to coordinators", coordinators_path %>
</div>
